
  <div class="col-xs-2 status">       <!-- Wants // Haves -->
    <%= label_tag(:want_tag, "I Want") %>
    <%= check_box_tag(:want_tag, "I Want") %> | 
    <%= check_box_tag(:has_tag, "I Have") %>
    <%= label_tag(:has_tag, "I have") %>  
  </div>                              <!-- End Wants // Haves -->




  <div class="col-xs-1 category">     <!-- Category Dropdown -->
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Category<span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href=":category"></a>Bike Share</a></li>
          <li><a href=":category"></a>Car Share</a></li>
          <li><a href=":category"></a>House Share</a></li>
          <li><a href=":category"></a>Pets</a></li>
          <li><a href=":category"></a>Passions</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div>                              <!-- End Category Dropdown -->




  <div class="col-sm-6 description">  <!-- Description Field -->
    <%= text_area_tag :description, nil, :size => "56x2" %>
  </div>                              <!-- End Description Field -->




  <div class="col-xs-2 dateField">    <!-- Date Range Field -->
      <%= date_field_tag :start_date, nil, size: 50  %>
      <%= label_tag(:start_date, "Available Starting ") %>
  </div>                              <!-- End Date Range Field -->




  <div class="col-xs-1 save_delete">  <!-- Save, Delete -->
    <button type="button" class="btn btn-default btn-success">Save</button>
  </div>                              <!-- End Save, Delete -->