
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<div class="container-fluid">
  <div class = "col-md-8 col-md-offset-2">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval = "5000">


      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <h1 class = "text-center"><%=@carousel_users[0].first_name %></h1>
          <div class = "jumbotron">
            <div class = "col-md-2  col-md-offset-3 col-centered" >
              <div class = row>
                <img id="hell" src="<%=@carousel_users[0].profile_pic %>?type=large" alt="...">
              </div>
              <br><Br>
            </div>
          </div>

          <div class="row">
            <div class ="col-md-8 col-md-offset-2">
               <table class ="table table-striped">
          <tr>
            <th>Have?</th>
            <th>Category</th>
            <th>Info</th>
          </tr>
          <% @carousel_users[0].resources.each do |resource| %>
          <tr>
            <td><%= resource.has %></td>
            <td><%= resource.category %></td>
            <td><%= link_to('Info', user_resource_path(@user, resource), {class: "btn-xs btn-info"})%></td>
          </tr>
          <% end %>
        </table>
        <br><Br>
            </div>
          </div>
          <div class="row">
           <div class = "col-md-offset-5">
            <%=  link_to('Like User',like_check_path(session[:user_id],@carousel_users[0].id) ,method: :post, class: "btn-lg btn-primary") %>
          </div>
          <br><br>
        </div>
      </div>
      
      <% @match_list.each do |user| %>
      <div class="item">
       <h1 class = "text-center"><%=user.first_name %></h1>
       <div class = "jumbotron">
         <div class = "col-md-2  col-md-offset-3 col-centered" >
          <div class = row>
            <img id ="hell" src="<%=user.profile_pic %>?type=large" alt="...">
          </div>
          <br><Br>
        </div> 
      </div>
      <div class="row">
        <div class ="col-md-8 col-md-offset-2">
               <table class ="table table-striped">
            <tr>
              <th>Have?</th>
              <th>Category</th>
              <th>Info</th>
            </tr>
            <% user.resources.each do |resource| %>
            <tr>
              <td><%= resource.has %></td>
              <td><%= resource.category %></td>
              <td><%= link_to('Info', user_resource_path(@user, resource), {class: "btn-xs btn-info"})%></td>
            </tr>
            <% end %>
          </table>
          <br><Br>
        </div>
      </div>
      <div class="row">
        <div class = "col-md-offset-5">
          <%=  link_to('Like User',like_check_path(session[:user_id],user.id), method: :post, class: "btn-lg btn-primary") %>
        </div>
        <br><Br>
      </div>
    </div>
    <% end %>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
     <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   </a>
   <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
</div>
</div> <!-- Carousel -->
