<div class="container">

  <h2 class ="text-center">Edit User</h2>
  <br>

  <%= simple_form_for(@user, url: user_update_path(@user), defaults: { error_html: { id: 'error' } }, :html => { :class => "form-group"}) do |f|%>
    <div class="row">
      <div class="col-md-3">
        <%= f.input :first_name, label: "First name: "%>
        <br>
      </div>
      <div class="col-md-3" col-md-offset-1>
        <%= f.input :last_name, label: "Last name: "%>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.input :location, label: "Location: "%>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.input :email, label: "Email: "%>
        <br>
      </div>
      <div class="col-md-3" col-md-offset-1>
        <%= f.input :nickname, label: "Nickname: "%>
        <br>
      </div>
    </div>
    <div class="row">
      <div class ="col-md-3">
        <%= f.submit "Save changes", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  <br>

  <div class ="row">
    <div class = "col-md-2">
      <%= link_to('Cancel', user_home_path(@user), {class: "btn btn-primary"}) %>
    </div>
  </div>
  <br>

