<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class = "navbar-header">
<a class="navbar-brand" href="#">SHAREit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "My Dashboard", user_home_path(@user) %></li>
        <li><%= link_to "My Network", user_network_path(@user) %></li>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container std_background">

  <div class="container">

    <h2 class ="text-center">Edit Profile</h2>
    <br>

    <%= simple_form_for(@user, url: user_update_path(@user), defaults: { error_html: { id: 'error' } }, :html => { :class => "form-group"}) do |f|%>
      <div class="row">
        <div class="col-md-3">
          <%= f.input :first_name, label: "First name: "%>
          <br>
        </div>
        <div class="col-md-3" col-md-offset-1>
          <%= f.input :last_name, label: "Last name: "%>
          <br>
        </div>
        <div class="col-md-3">
          <%= f.input :location, label: "Location: "%>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <%= f.input :email, label: "Email: "%>
          <br>
        </div>
        <div class="col-md-3" col-md-offset-1>
          <%= f.input :nickname, label: "Nickname: "%>
          <br>
        </div>
      </div>
      <div class="row">
        <div class = "col-md-2">
          <%= link_to('Cancel', user_home_path(@user), {class: "btn btn-primary"}) %>
        </div>
        <div class ="col-md-2 col-md-offset-4">
          <%= f.submit "Save changes", class: 'btn btn-primary' %>
        </div>
        <div class = "col-md-2">
          <%= link_to('View your public profile', user_profile_path(@user), {class: "btn btn-primary"}) %>
        </div>
      </div>
    <% end %>
    <br>

  </div>
</div>
  <br>

