<h1>Welcome <%= @user.name %></h1>

<%= link_to "Sign out", logout_path, method: :delete %>

<%= link_to "Edit Profile", user_edit_path(@user), method: :get %>

<%= link_to "My resources", user_resources_path(@user), method: :get %>



<!-- Resource Index Section -->
<div class="container-fluid user_resource_area jumbotron">         <!-- User Resource Info -->
  <%= render "partials/user_resource_index" %>
  <!-- ul -->
  <!-- % for each have/want  do |f|% -->
  <!-- li -->
  <!-- %= render "partials/resource_show" = -->
  <!-- /li -->
  <!-- % end %-->
  <!-- /ul -->
</div>                                <!-- End User Resource Info -->



<!-- Matches Index Section -->
<div class="container-fluid">         <!-- Matches Info -->
  <div class="col-md-6 user_match_index">              <!-- Connections Info -->

    <%= render "partials/matches_index" %>
    <%= render "partials/matches_index" %>
    <%= render "partials/matches_index" %>
    <%= render "partials/matches_index" %>
    <%= render "partials/matches_index" %>
    <%= render "partials/matches_index" %>
    <%= render "partials/matches_index" %>
    <%= render "partials/carousel" %>

</div>                                <!-- End Matches Info -->