<%= render "partials/navbar" %>


<div class="container">

<h1><%= @user.name %></h1>

  <div class="btn-group btn-group-justified">
    <a href="<%= user_matches_path(@user) %>" class="btn btn-default">Find New Matches</a>
    <a href="<%= new_user_resource_path(@user) %>" class="btn btn-default">Add a resource</a>
    <a href="<%= user_show_path(@user) %>" class="btn btn-default">View Public Profile</a>
    <a href="<%= user_edit_path(@user) %>" class="btn btn-default">Edit Profile</a>
  </div>

  <h2>My resources:</h2>
  <br>

  <div class="row user_resources_show">
    <div class ="col-md-10 col-md-offset-1">
      <table class ="table table-striped">
        <tr>
          <th>Have?</th>
          <th>Category</th>
          <th>Info</th>
          <th>Delete</th>
        </tr>
        <% @resources.each do |resource| %>
          <tr>
            <td><%= resource.has %></td>
            <td><%= resource.category %></td>
            <td><%= link_to('Info', user_resource_path(@user, resource), {class: "btn-xs btn-info"})%></td>
            <td><%= link_to('Delete', user_resource_path(@user, resource), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-xs btn-danger") %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>

