<div class="container">

  <h1>Welcome <%= @user.name %></h1>
  <br><br>
  <%= link_to "My resources", user_resources_path(@user), method: :get %>
  <br><br>
  <%= link_to "Edit Profile", user_edit_path(@user), method: :get %>
  <br><br>
  <%= link_to "View Potential Matches", user_matches_path(@user), method: :get %>
  <br><br>
  <%= link_to "Sign out", logout_path, method: :delete %>
  <br>

</div>



<div class="jumbotron">

<%= render "shared/user_resource_index" %> <!-- Form for creating wants/haves -->



  <div class="col-md-6">             <!-- Link to Carousel -->
    <div class="col-sm-12 carousel">Carousel</div>
  </div>                              <!-- End Link to Carousel -->
  
</div>                                <!-- End Matches Info -->

