<%= render "partials/navbar" %>

<h2>Add an interest and your city:</h2>

<div class="container std_background body_background">

<%= form_for(@user, url: new_user_interest_path, method: :put ) do |f| %>

<div class="row">
  <div class="col-xs-3 col-xs-offset-1">
    <table class="interest interest_music">
      <tr>
        <th></th>
        <th><h4>Musical Interests</h4></th>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "rock", nil %></td>
        <td><%= f.label :rock%></td>

      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "electronic", nil %></td>
        <td><%= f.label :electronic%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "americana", nil %></td>
        <td><%= f.label :americana%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "hip-hop", nil %></td>
        <td><%= f.label :hipHop%></td>
        </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "classical", nil %></td>
        <td><%= f.label :classical%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "indy", nil %></td>
        <td><%= f.label :indy%></td>
      </tr>
    </table>
<hr>
    <table class="interest interest_politics">
      <tr>
        <th></th>
        <th><h4>Political Interests</h4></th>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "socialism", nil %></td>
        <td><%= f.label :socialism%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "liberatarianism", nil %></td>
        <td><%= f.label :libretarianism%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "leftwing", nil %></td>
        <td><%= f.label :leftWing%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "rightwing", nil %></td>
        <td><%= f.label :rightWing%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "ecoconscious", nil %></td>
        <td><%= f.label :ecoConscious%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "feminism", nil %></td>
        <td><%= f.label :feminism%></td>
      </tr>
    </table>
<hr>
    <table class="interest interest_physical">
      <tr>
        <th></th>
        <th><h4>Physical Activities</h4></th>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "bicycling", nil %></td>
        <td><%= f.label :bicycling%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "jogging", nil %></td>
        <td><%= f.label :jogging%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "teamsports", nil %></td>
        <td><%= f.label :teamSports%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "hiking", nil %></td>
        <td><%= f.label :hiking%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "workingout", nil %></td>
        <td><%= f.label :workingOut%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "dancing", nil %></td>
        <td><%= f.label :dancing%></td>
      </tr>
    </table>
<hr>
    <table class="interest interest_professional">
      <tr>
        <th></th>
        <th><h4>Professional</h4></th>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "tech", nil %></td>
        <td><%= f.label :technology%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "labor", nil %></td>
        <td><%= f.label :manualLabor%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "service", nil %></td>
        <td><%= f.label :serviceRetail%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "management", nil %></td>
        <td><%= f.label :management%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "governmental", nil %></td>
        <td><%= f.label :governmental%></td>
      </tr>
      <tr>
        <td><%= f.check_box :interests, {multiple: true}, "nonprofit", nil %></td>
        <td><%= f.label :nonProfit%></td>
      </tr>
    </table>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-1 location_field">
      <%= f.label "City, State" %>
      <%= f.text_field :location, :placeholder => 'eg: San Francisco, CA' %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class ="col-xs-2 col-md-offset-6">
      <%= f.submit "Save Interests and Location", class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<% end %>
</div>
