<p>My matches:</p>
<br>
<ul>
  <%= @matches.each do |like| %>
    <li><%= User.find(like.likee).name %></li>
  <% end %>
</ul>
<br><br>

<p>Those who like me:</p>
<p>This should primarily appear on the carousel</p>
<br>
<ul>
  <%= @like_me.each do |like| %>
    <!-- we want user who owns the like, not session user -->
    <% @user = User.find(like.user_id) %>
    <li><%= @user.name %></li><%= link_to("reject", reject_user_like_path(@user, like), method: :patch)%>
  <% end %>
</ul>

