<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class = "navbar-header">
<a class="navbar-brand" href="#">SHAREit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(user_home_path(@session_user)) %>"><%= link_to "My Dashboard", user_home_path(@session_user) %></li>
        <li class="<%= 'active' if current_page?(logout_path(@session_user)) %>"><%= link_to "Logout", logout_path(@session_user), method: :delete %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container std_background">

<div class="container">

  <h2 class ="text-center"><%= @user.name %>'s Profile</h2>
  <br>
  <%= simple_form_for(@user, url: user_update_path(@user), defaults: { error_html: { id: 'error' } }, :html => { :class => "form-group"}) do |f|%>
    <div class="row">
      <div class="col-md-3">
        <%= f.input :name, label: "Name: ", readonly: true%>
      </div>
      <div class="col-md-3">
        <%= f.input :location, label: "Location: ", readonly: true%>
      </div>
      <!-- only display email address if the session user and profile user have matched -->
      <!-- or if the session user IS the profile user -->

      <% if @match || @user.id == session[:user_id] %>
        <div class="col-md-3">
          <%= f.input :email, label: "Email: ", readonly: true%>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <br>
      <!-- don't allow a user to create reviews for himself -->
      <% unless @user.id == session[:user_id] %>
        <!-- only allow users who have matched with the profile user to enter comments -->
        <% if @match %>
          <h3>Since you have matched with <%= @user.name %>, you may leave a review</h3>
          <%= form_for [@user, Review.new], url: user_reviews_path(@user) do |f| %>
            <%= f.text_area :content, :rows => 5, :cols => 60 %>
            <br>
            <%= f.submit "Add review" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Reviews for <%= @user.name %></h3>
      <% @reviews.each do |review| %>
        <p>
          <%= review.content %> - <%= time_ago_in_words review.created_at %> ago by <strong><%= User.find(review.user_id).name %></strong>
        </p>
      <% end %>
    </div>
  </div>

</div>

</div>

<%= render 'partials/footer' %>
