<% @session_user = User.find(session[:user_id]) %>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class = "navbar-header">
      <a class="navbar-brand" href="#">SHAREit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(user_home_path(@session_user)) %>"><%= link_to "My Dashboard", user_home_path(@session_user) %></li>
        <li class="<%= 'active' if current_page?(logout_path(@session_user)) %>"><%= link_to "Logout", logout_path(@session_user), method: :delete %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

  <h2 class ="text-center"><%= @user.name %>'s Profile</h2>
  <br>
  <%= simple_form_for(@user, url: user_update_path(@user), defaults: { error_html: { id: 'error' } }, :html => { :class => "form-group"}) do |f|%>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.input :name, label: "Name: ", readonly: true%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.input :location, label: "Location: ", readonly: true%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <!-- only display email address if the session user and profile user have matched -->
      <!-- or if the session user IS the profile user -->

      <!-- first we need to determine if a match exists -->
      <!-- grab the relevant data -->
      <% resource_matches = ResourcesUser.where("user_wants_id = ? or user_has_id = ?", @session_user.id, @session_user.id) %>
      <!-- start by assuming a match exists -->
      <% match = true %>
      <% resource_matches.each do |resource_match| %>
      <!-- unless like_accept = false, it's still a match -->
      <% unless resource_match.like_accept %>
      <% match = false %>
      <% end %>
      <% end %>
      <% if match || @user.id == session[:user_id] %>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.input :email, label: "Email: ", readonly: true%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <% end %>
        <p style="color: red">More detail here about user's haves and wants?</p>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Reviews for <%= @user.name %></h3>
    <% @reviews.each do |review| %>
    <p>
      <%= review.content %> - <%= time_ago_in_words review.created_at %> ago by <strong><%= User.find(review.user_id).name %></strong>
    </p>
    <% end %>
  </div>
  <div class="col-md-6">
    <br><br>
    <!-- don't allow a user to create reviews for himself -->
    <% unless @user.id == session[:user_id] %>
    <!-- only allow users who have matched with the profile user to enter comments -->
    <% @user.likes.each do |like| %>
    <% if like.likee == session[:user_id] && like.is_matched %>
    <%= form_for [@user, Review.new], url: user_reviews_path(@user) do |f| %>
    <%= f.text_area :content, :rows => 5, :cols => 60 %>
    <br>
    <%= f.submit "Add review" %>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>

</div>

<%= render 'partials/footer' %>
