<%= render "partials/navbar" %>

<div class="container std_background">

  <div class="container">

    <div class="column-md-6">
      <h2>This '<%= @resource.category %>' shareable is being offered by you</h2>
      <h3>Edit Description:</h3>
      <%= form_for @resource, url: update_user_resource_path(@user, @resource), method:"put" do |f| %>
        <%= f.text_area :description, :rows => 5, :cols => 60 %>
        <br>
        <%= f.submit "Update" %>
      <% end %>
    </div>
    <br>

  </div>

</div>

