<div class="container">

  <h2>New resource:</h2>

  <%= simple_form_for(@resource, url: post_new_user_resource_path(@user), defaults: { error_html: { id: 'error' } }, :html => { :class => "form-group"}) do |f| %>
  <div class="row">
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => session[:user_id] }%>
    <div class="col-md-3">
      <%= f.input :has, label: "Check if you have this resource to share"%>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <%= f.input :category, label:"Category: ", list:"categories", :collection => ['bike', 'housing', 'pet', 'social', 'vehicle'] %>
      <!-- create a description field -->
    </div>
  </div>
  <br>
  <div class="row">
    <div class ="col-md-2">
      <%= f.submit "Create resource", class: 'btn btn-primary' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class ="col-md-2">
      <%= link_to('Cancel', user_home_path(@user), {class: "btn btn-primary"}) %>
    </div>
  </div>
  <% end %>

</div>

