<div class="container">

  <h2>New resource:</h2>

  <%= simple_form_for(@resource, url: post_offer_resource_path(@user), defaults: { error_html: { id: 'error' } }, :html => { :class => "form-group"}) do |f| %>
  <div class="row">
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => session[:user_id] }%>

    <div class="col-md-5">
      <table class="resource_want">
        <tr>
          <th></th>
          <th>Offered Resource</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><%= f.association :wants,   as: :check_boxes %></td>
          <td>Bike</td>
          <td><%= f.input :description %></td>
        </tr>
        <tr>
          <td><%= f.association :wants,   as: :check_boxes %></td>
          <td>Vehicle</td>
          <td><%= f.input :description %></td>
        </tr>
        <tr>
          <td><%= f.association :wants,   as: :check_boxes %></td>
          <td>Social</td>
          <td><%= f.input :description %></td>
        </tr>
        <tr>
          <td><%= f.association :wants,   as: :check_boxes %></td>
          <td>Pets</td>
          <td><%= f.input :description %></td>
        </tr>
        <tr>
          <td><%= f.association :wants,   as: :check_boxes %></td>
          <td>Housing</td>
          <td><%= f.input :description %></td>
        </tr>
      </table>
    </div>
</div>
<%= f.button :submit %>
<% end %>